body {
  background-color: cornsilk;
}
hr {
  border-style: none;
  border-top-style: dotted;
  border-color: green;
  border-width: 10px;
  width: 10%;
}
h1 {
  color: #66BFBF;
}
h3 {
  color: #66BFBF;
}
